body.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border-color: #333;
}

.transition {
  transition: all 0.4s ease-in-out;
}

.fade-box {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fade-box.show {
  opacity: 1;
}
